.button {
  margin: 8px;
  padding: 6px 16px;
  border-radius: 6px;
  background-color: cornflowerblue;
  color: #fff;
  cursor: pointer;
  transition: background-color .3s;
}

.button:hover {
   background-color: darkslateblue;
 }
